---
http_interactions:
- request:
    method: get
    uri: https://cloud-api.yandex.net/v1/disk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "[**********]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Yandex-Cloud-Request-Id:
      - omitted
    body:
      encoding: UTF-8
      string: '{"max_file_size":53687091200,"unlimited_autoupload_enabled":false,"total_space":3389266067456,"trash_size":0,"is_paid":true,"used_space":2099318908604,"system_folders":{"odnoklassniki":"disk:/Социальные
        сети/Одноклассники","google":"disk:/Социальные сети/Google+","instagram":"disk:/Социальные
        сети/Instagram","vkontakte":"disk:/Социальные сети/ВКонтакте","attach":"disk:/Почтовые
        вложения","mailru":"disk:/Социальные сети/Мой Мир","downloads":"disk:/Загрузки/","applications":"disk:/Приложения","facebook":"disk:/Социальные
        сети/Facebook","social":"disk:/Социальные сети/","messenger":"disk:/Файлы
        Мессенджера","calendar":"disk:/Материалы встреч","scans":"disk:/Сканы","screenshots":"disk:/Скриншоты/","photostream":"disk:/Фотокамера/"},"user":{"country":"ru","login":"userlogin","display_name":"Ilya","uid":"12345678"},"revision":1666093125917488}'
  recorded_at: Tue, 18 Oct 2022 11:43:08 GMT
recorded_with: VCR 6.1.0
