---
http_interactions:
- request:
    method: get
    uri: https://cloud-api.yandex.net/v1/disk/resources/upload?path=yadisk_upload_here
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "[**********]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Yandex-Cloud-Request-Id:
      - omitted
    body:
      encoding: UTF-8
      string: '{"operation_id":"78ccc91b3a034a941a72dde1ae92fbf26d0facf9bad941eee9b432f4abdfdd1e","href":"https://uploader9x.disk.yandex.net:443/upload-target/20221018T144311.680.utd.6n9ay2kos10pewsoun8tlx7gf-k7o.674502","method":"PUT","templated":false}'
  recorded_at: Tue, 18 Oct 2022 11:43:11 GMT
recorded_with: VCR 6.1.0
